.row-short, .row-long {
    height: 45px;
}

.limit-width {
    width :25px;
}

.row-long span {
    height: 100%;
    width: 21px;
    display: inline-block;
}

.row-short span {
    height: 100%;
    width: 66px;
    display: inline-block;
}

/* Lights Colors definitions */
.yellow-light{
    background-color: #DEDE31;
}
.red-light{
    background-color: red;
}
.off-light{
    background-color: gray;
}

/* End of lights definition */

.time-input {
    margin: auto;
}

